<!doctype html>
<head>
  <div class="loggedas">
    <p class="loggedas"><%= first_name %> <%= last_name%></p>
  </div>
  <html lang="en">
  <link rel="stylesheet" href="/styles/nav-bar.css" type="text/css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" />
  <meta charset="UTF-8">
  <style>
  #nav-bar {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    margin: 15px;
    height: inherit;
    background-color: red;
    color: black;
  }
  </style>
</head>

<body>
  <nav>
    <div>
      <ul id="nav-bar">
        <h3><div class="logout"><a href="/logout">Logout</a></div></h3>
        <h3><div class="homepage"><a href="/Users/fntcguest/lighthouse/midterm/wikimap/views/all_maps.ejs">Homepage</a></div></h3>
        <h3><div class="new-map"><a href="/Users/fntcguest/lighthouse/midterm/wikimap/views/init_map.ejs">Create New Map</a></div></h3>
        <h3><div class="exploremaps"> <a href="/Users/fntcguest/lighthouse/midterm/wikimap/views/all_maps.ejs">Explore Maps</div></a></h3>
      </ul>
    </div>
  </nav>
</html>