 <div class="nav">
 <div class="loggedas">
    <p>Logged in as: <%= first_name %> <%= last_name%></p>
      <ul>
        <li><div class="logout"><a href="#">Logout</a></div></li>
        <li><div class="homepage"><a href="#">Homepage</a></div></li>
        <li><div class="new-map"><a href="#">Create New Map</a></div></li>
        <li><div class="exploremaps"><a href="#">Explore Maps</a></div></li>
      </ul>
    </div>