<!doctype html>
<nav id="nav-bar">
<html lang="en">
<link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
<link rel="stylesheet" href="/styles/nav.css" type="text/css" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" />
<meta charset="UTF-8">
 <div class="nav">
 <div class="loggedas">
    <p class="loggedas"><%= first_name %> <%= last_name%></p>
      <ul>
        <li><div class="logout" href="/logout">Logout</div></li>
        <li><div class="homepage" href="/homepage">Homepage</div></li>
        <li><div class="new-map" href="/new-map">Create New Map</div></li>
        <li><div class="exploremaps" href="/mapslist">Explore Maps</div></li>
      </ul>
    </div>
    </html>