<!doctype html>
<nav id="nav-bar">
<html lang="en">
<link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
<link rel="stylesheet" href="/styles/nav.css" type="text/css" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" />
<meta charset="UTF-8">
 <div class="nav">
 <div class="loggedas">
     <% if (user_id) { %>
    	<p>Logged in as: <%= user_id %></p>
      <form action="/logout" method="POST">
      <input type="submit" value="Logout">
      </form>
      <a href="/maps/new">Create New Map</a>
    <% } else{ %>
    <a href="/login">Login</a>
    <% } %>
      <ul>
        <li><div class="homepage" href="/all_maps">Homepage</div></li>
        <li><div class="exploremaps" href="/all_maps">Explore Maps</div></li>
      </ul>
  </div>
    </html>