 <div class="nav">
      <ul>
        <li class="logout"><a href="#">Logout</a></li>
        <li class="homepage"><a href="#">Homepage</a></li>
        <li class="new-map"><a href="#">Create New Map</a></li>
        <li class="exploremaps"><a href="#">Explore Maps</a></li>
      </ul>
    </div>