<!doctype html>
<html lang = "en">
<head>
  <meta charset="UTF-8">
  <title>Maps Page</title>
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />

  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  
  <style>
    .jumbotron {
      background-color: red;
      color: black;
      span: 100%;
      height: 200px;
    };

    .title{
      display: flex;
      align-items: center;
    }
  </style>
</head>
<body>
  <div class="container">
  

  <div class="jumbotron">
   <div class="page-header">
  <h1>All Available Maps</h1>    
  </div>

    <h2 class="title"><p>Maps</p></h2>

    <ol>
      <li>Stanley Park</li>
      <li>Burnaby</li>
      <li>Gastown</li>
      <li>Downtown</li>
    </ol>

    <p>
      <button class="button"><a href="#" class="btn btn-default btn-lg" role="button"></a></button>
    </p>
  </div>
  <% include ./partials/nav-bar.ejs %>
   <% if (Login) { %>
  <div><%=login%></div>
    <% } %>


</header>
<h1></h1>
</body>
</html>