<!doctype html>
<html lang = "en">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">

<%- include('partials/nav-bar.ejs') %>
  <meta charset="UTF-8">
  <title>Maps Page</title>

  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  
  <style>
    .jumbotron {
      background-color: red;
      color: black;
      span: 100%;
          };

    .maptitle {
      display: flex;
      justify-content: center;
    }

    .list {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      
  }

.one {
  color: black;
}

.two {
  color: black;
}
  </style>
</head>
<body>
<div class="container-fluid">
  
  <div class="container">

<!--hide button test -->


  

  <div class="jumbotron">
   <div class="page-header">
  <h1>All Available Maps</h1>    
  </div>

    <h2 class="maptitle"><p>Maps</p></h2>
   
  <% var mapsDB = []; %>
    <% mapsList = {}; %>

<% list.forEach(function(item, index) { %>
  <% if (item.maps.length > 0) { %>
    <% mapsList ["name"] = item.name; %>
    <% mapsList ["maps"] = item.maps; %>
    <% mapsDB.push(mapsList); %>
  <% } %>
<% }); %>

</div>
<h1></h1>
</body>
</html>