<!DOCTYPE html>
<html lang="en">
  <head>
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <meta charset="UTF-8">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyByuZxNssj0nyeSGfXEocERUoTWNanfawk&callback=initMap"
    async defer></script> 
    <%- include('partials/nav-bar.ejs') %>
  </head>

  
<style> 
.title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.mock {
  display: flex;
  
  flex-wrap: wrap-reverse; 
  align-content: space-between;
  justify-content: flex-end;
}
</style>


  <body>
    <div class="title"><h1>Title</h1></div>
    <div class="description"><h1>Description</h1></div>
    <!-- Google Maps API -->

  <div class="mock"><img src="http://assets.vancouversports.com/images/profile-map/trillium-park-vancouver.png"></div>

  </body>
</html>