<!doctype html>
<html lang = "en">
<head>
  <title>HOMEPAGE</title>
</head>
<body>
<header>
  <% include ./partials/_header %>
   <% if (Login) { %>
  <div><%=login%></div>
    <% } %>
</header>
<h1></h1>
</body>
</html>