
<!doctype html>
<html lang="en">
<head>
<link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <meta charset="UTF-8">
  <title>Map Info</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
</head>
<style>
.create {
display: flex;
align-items: flex-end;
size:
}

.title {
flex-direction: row-reverse;
justify-content: center;
align-items: flex-end;
}
</style>

<body>
<% include ./partials/nav-bar.ejs %>
<form action="/map_info" method="post"></form>
  <p><h3>Please enter the title of your map: </h3>
    <type="text" size="20" maxlength="30" />
  </p>
  <textarea class="title" placeholder="Title..."></textarea>
  <p>
    <h3>Please enter the description of your map: </h3>
    <type="text" size="20" maxlength="200" />
  </p>
  <textarea name="description" placeholder="Description..."></textarea>  
  <p>
    <h3>Please enter the starting location: </h3>
    <type="text" size="20" maxlength="50" />
  </p>
  <textarea name="start" placeholder="Starting Location..."></textarea>
  <button class="create" value="Create">Create</button>
</body>

</html>