
<!doctype html>
<html lang="en">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <meta charset="UTF-8">
  <title>Map Info</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="styles/layout.css">
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyByuZxNssj0nyeSGfXEocERUoTWNanfawk&libraries=places"></script>
  <script type="text/javascript" src="/scripts/location_search.js"></script>
<%- include('partials/nav-bar.ejs') %>
</head>


<body>
 <div class="page-header text-center"> 
    <h1>Map Creation</h1>
  </div>

  <form action="/maps/new" method="post">

  <p><h3>Please enter the title of your map: </h3>
    <type="text" size="20" maxlength="30" />
  </p>
  <textarea class="title" placeholder="Title..."></textarea>
  <p>

    <h3>Please enter the description of your map: </h3>
    <type="text" size="20" maxlength="200" />
  </p>
  <textarea class="description" placeholder="Description..."></textarea>  
  <p>

    <h3>Please enter the starting location: </h3>
    <type="text" size="20" maxlength="50" />
    <input id="locationName" name="locationName" type="text">
  </p>


  <form action="/maps/new" method="post">
  <p><h3>Please enter the title of your map: </h3>
    <type="text" size="20" maxlength="30" />
  </p>
  <textarea name="title" placeholder="Title..."></textarea>
  <p>
    <h3>Please enter the description of your map: </h3>
    <type="text" size="20" maxlength="200" />
  </p>
  <textarea name="description" placeholder="Description..."></textarea>
  <p>
    <h3>Please enter the starting location: </h3>
    <type="text" size="20" maxlength="50" />
    <input id="locationName" name="locationName" type="text">
  </p>

  <input type="hidden" id="placeId" name="placeId" />
    <input type="submit" class="placeId btn btn-danger" value="Create Map">
  </form>


</body>

</html>
