<!DOCTYPE html>
<html lang="en">
  <head>
  </head>

  <body>
    <% include ./partials/nav-bar.ejs %>
    <div class="title">Title</div>
    <div class="description">Description</div>
    <!-- Google Maps API -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyByuZxNssj0nyeSGfXEocERUoTWNanfawk&callback=initMap"
   async defer></script> 
  </body>
</html>