<!DOCTYPE html>
<html lang="en">
  <head>
      <meta name="viewport" content="width=device-width, initial-scale=1">


    <meta charset="UTF-8">
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <title>Single Map</title>
    <!-- Google Maps API -->
    
   
  </head>
  <style>
  .test {
    display: flex;

    height: 400px;
    width: 600px;
    padding: 25px;
    float: right;
  }

  .newmap {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: flex-end;
  }

  .title{
    display: flex;
    justify-content: center;
    font-size: x-large;
    height: inherit;
    
    
  }

  .list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 90px;
  }

#map {
        height: 200px;
        width: 50%;
       }

  </style>
  


  <body>
   <!--nav bar-->
    <%- include('partials/nav-bar.ejs') %>    
    
    <div class="title"><h1>Map Title</h1></div>
    <h3>My Google Maps Demo</h3>
    <div id="map"></div>
    <script>
      function initMap() {
        var uluru = {lat: -25.363, lng: 131.044};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 4,
          center: uluru
        });
        var marker = new google.maps.Marker({
          position: uluru,
          map: map
        });
      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyByuZxNssj0nyeSGfXEocERUoTWNanfawk&callback=initMap"
   async defer></script
    <div>
      <ol class="list">
        <li><h2>Caveman Cafe</h2></li>
        <li><h2>McDonalds</h2></li>
        <li><h2>The Pint</h2></li>
        <li><h2>Tinsel Town</h2></li>
      </ol>
    </div>


<!-- google map api test -->
>

  </body>
</html>