<!DOCTYPE html>
<html lang="en">
  <head>
      

    <meta charset="UTF-8">
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <title>Single Map</title>

    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyByuZxNssj0nyeSGfXEocERUoTWNanfawk&amp;callback=initMap">
    </script>
    <script type="text/javascript" src="/scripts/load_map.js"></script>
    
  
  </head>
  <style>
  .test {
    display: flex;

    height: 400px;
    width: 600px;
    padding: 25px;
    float: right;
  }

  .newmap {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: flex-end;
  }

  .title{
    display: flex;
    justify-content: center;
    font-size: x-large;
    height: inherit;
    
    
  }

  .list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 90px;
  }


  </style>
  


  <body>
    <%- include('partials/nav-bar.ejs') %>    
  
    <a href="/profile">Profile</a> <br>
    <a href="/logout">Logout</a><br>
    <div id="create-map">
    <button class="newmap" href="/init_map"><a>Create New Map</a></div></button>

      
    
    <div class="title"><h1>Map Title</h1></div>
    <div id='map' style="width: 500px; height: 400px;"></div>
    
    <div>
      <ol class="list">
        <li><h2>Caveman Cafe</h2></li>
        <li><h2>McDonalds</h2></li>
        <li><h2>The Pint</h2></li>
        <li><h2>Tinsel Town</h2></li>
      </ol>
    </div>
  </body>
</html>