


body {
  font-family: 'Cinzel', serif;
  background-color: black;
}

  h1 {
    color: #244751;
  }

#nav-bar {
  font-family: 'Cinzel', serif;
  
}


.nav-link {
  color: red;
  font-family: 'Cinzel', serif;
  float: right;
}


.nav-item {
  float: right;
}

.greeting {
  color: silver;
  
}

.loggedas {
  color: silver;

}

.logo {
  float: left;
  height: 50px;
  width: 50px;
}

.maplists {
  display: flex;
  justify-content: space-around;
 align-items: flex-end;
 
}

.maps {
  display: flex;
  justify-content: center;
}

.row {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 10px;
}

.username {
  display: flex;
  padding: 10px;
  font-size: -webkit-xxx-large
}

#contributed {
  display: flex;

}

//------------------- compare --------------------
.create {
display: flex;
align-items: flex-end;
margin-left: 50px;
}

.title {
display: flex;
flex-direction: row-reverse;
justify-content: center;
align-items: flex-end;
margin-left: 50px;
}

.description {
display: flex;
flex-direction: row-reverse;
justify-content: center;
align-items: flex-end;
margin-left: 50px;
}

.start {
display: flex;
flex-direction: row-reverse;
justify-content: center;
align-items: flex-end;
margin-left: 50px;
}

#locationName {

display: flex;
flex-direction: row-reverse;
justify-content: center;
align-items: flex-end;
margin-left: 50px;
}

.listItems {
  display: flex;
  flex-flow: column wrap;
}


.wades-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
  float: left;
  padding-left: 50px;
  color: white;
}

.placeId {
  display: flex;
flex-direction: row-reverse;
justify-content: center;
align-items: flex-end;
margin-left: 50px;
}
